<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page</title>
</head>
<body>
    <h1>First page</h1>
    <p>This is the first page of our static content</p>
    <p><a href="../expressions">This</a> is a page demonstrating how to insert expressions into a page</p>
    <p><a href="../data_structures">This</a> is a page demonstrating how to use data structures on page</p>
    <p><a href="../conditionals">This</a> is a page demonstrating how to use conditionals on page</p>
    <p><a href="../for_loop">This</a> is a page demonstrating how to use for loops on page</p>
    <p><a href="../for_loop_conditionals">This</a> is a page demonstrating how to use conditionals in for loops on a page</p>
    <p><a href="../jinja_template">This</a> is a Jinja2 page</p>
    <p><a href="../second_template">This</a> is the second page</p>
</body>
</html>