{% extends 'base.html' %}

{% block content %}
<main class="main main--contact">
    <div class="contact--all">
        <div class="contact--label">
            <p>Email</p>
            <p>GitHub</p>
            <p>LinkedIn</p>
        </div>
        <div class="contact--info">
            <p>
                <a class="contact__link" href="mailto:benjamin.koehler@saxonq.com">
                    benjamin.koehler [Klammeraffe] saxonq.com
                </a>
            </p>
            <p>
                <a class="contact__link" href="https://github.com/benkoehlL">
                    @benkoehlL
                </a>
            </p>
            <p>
                <a class="contact__link" href="https://www.linkedin.com/in/benjamin-k%C3%B6hler-914748224/">
                    Benjamin Köhler
                </a>
            </p>
        </div>
    </div>
</main>
{% endblock %}